.cta-button {
    gap: 10px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 45px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    background-color: var(--orangish);
    transition: background 0.3s ease;
}

.cta-button-transparent {
    gap: 10px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 45px;
    cursor: pointer;
    color: black;
    font-weight: 500;
    border: 1px solid #3f3d3d;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.cta-button-transparent:hover {
    background-color: var(--orangish);
    border: 1px solid #c75b1a;
    color: var(--white);
}

.cta-button i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.cta-button:hover {
    background: #e55b00;
}

a.cta-link{
    color: var(--aquamarine);
    transition: 0.3s ease;
}

.cta-link:hover {
    color: var(--indigo);
}

.highlight-blue {
    cursor: pointer;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

    &:before {
        position: absolute;
        z-index: -1;
        content: '';
        background: var(--wondrous-blue);
        height: 20px;
        left: 0;
        bottom: -5px;
        width: 100%;
    }
}

.highlight-orange {
    cursor: pointer;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

    &:before {
        position: absolute;
        z-index: -1;
        content: '';
        background: var(--larch-bolete);
        height: 20px;
        left: 0;
        bottom: -5px;
        width: 100%;
    }
}

