@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.footer {
    background-color: var(--indigo);
    color: var(--white);
    padding: 2rem 0;
    font-family: "Poppins Medium", sans-serif;
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.footer-col {
    flex: 1;
    margin-right: 3rem;
}

.footer-col h3 {
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 1rem;
    font-weight: bold;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 0.5rem;
}

.footer-col ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--larch-bolete);
}

.footer-col img {
    max-width: 10%;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icon i {
    font-size: 15px;
    color: white;
    transition: color 0.3s ease;
}

.social-icon:hover i {
    color: #f39c12;
}

.footer-bottom {
    text-align: center;
    padding: 1rem;
    color: white;
}

.footer-bottom p {
    margin: 0;
}

.footer-legal-links {
    text-align: center;
    padding: 1rem 0;
    color: white;
}

.footer-legal-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-legal-links a:hover {
    color: var(--larch-bolete);
}

