/*CSS LOGIN */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: Poppins, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.login-box {
    background-color: #ffffff;
    padding: 2rem;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-logo-container {
    text-align: center;
    margin-bottom: 2rem;
}

.login-logo-img {
    width: 50px;
    height: auto;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
    font-weight: bold;
}

.auth-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.auth-text {
    font-size: 1.2rem;
    cursor: pointer;
    padding-bottom: 5px;
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.auth-text.active {
    border-bottom: 2px solid var(--orangish);
}

.form-container {
    display: block;
}

.input-group {
    margin-bottom: 1.5rem;
}

.input-group label {
    font-size: 1rem;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-me {
    margin-bottom: 1.5rem;
}

.forgot-password-link {
    font-size: 0.9rem;
    color: #f57c00;
    text-decoration: none;
    margin-left: 10px;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.social-login .social-btn {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #333;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.social-login .social-btn i {
    margin-right: 10px;
}

.cta-button-login {
    width: 100%;
    padding: 1rem;
    background-color: #f57c00;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.social-btn.google-btn:hover {
    background-color: #db4437;
    color: white;
}

.social-btn.linkedin-btn:hover {
    background-color: #0077b5;
    color: white;
}

.social-btn.google-btn:hover {
    background-color: #db4437;
    color: white;
}

.social-btn.linkedin-btn:hover {
    background-color: #0077b5;
    color: white;
}

.checkbox-group {
    margin-bottom: 1rem;
}

.checkbox-group label {
    font-size: 0.9rem;
    color: #333;
}

.checkbox-group a {
    color: #f57c00;
}

.checkbox-group a:hover {
    text-decoration: underline;
}
